html {
	height: 100%;
}

body {
	font-family: 'Arial', serif;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

.heading {
	font-family: 'Helvetica', sans-serif;
	font-weight: bold;
}


#banner {
	background-image: url("../img/black.png");
	width: 100%;
	position: relative;
	min-height: 100%;
	background-size: cover;
	background-position: center;
}

hr {
	width: 95%;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

hr.section { 
	width: 80%;
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

h3 {
	font-size: 2.0em;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

p {
	font-size: 1.4em;
	font-family: 'Helvetica';
}
.btn{
	font-family:'Arial';
}
section {
	text-align: center;
	padding-top: 35px;
	padding-bottom: 20px;
}

#about-text{
	text-align: left;
	padding-right: 10%;
}

#resume-button{
	font-family: 'Arial';
}

#league-text{
	text-align: left;
	font-size: 1.4em;
	font-family: 'Helvetica';
}

.typed-cursor{
	font-size:2.0em;
}

.portrait_drawing{
	width: 30%;
	height: 20%;
	max-width: 100%;
	padding: 1%;
	display:inline-grid;
}

.landscape_drawing{
	height: 25%;
	width: 45%;
	max-width: 100%;
	padding: 1%;
	display:inline-grid;
}


.game_logo{
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 25px;
    max-width: 100%;
}

.section-heading {
	font-size: 2.4em;
}

.navbar-default.shrink {
	transition: all ease .5s;
	background-color: #222224;
}

.navbar-default {
  background-color: transparent;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', 'Arial' , 'sans-serif';
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
  color: white;
  font-family: 'Open Sans', 'Helvetica Neue', 'Arial', 'sans-serif';
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #3D72A4;
}
.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: white;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #3D72A4;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #3D72A4 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}

.instaimg{
 	width:320px;
  	height:320px;
  	margin:10px;
  	max-width:100%;
  	max-height:100%;
  	display: inline-block;
}

#landingContent {
	text-align: center;
	color: white;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
	padding-top: 20%;
}

#typed{
	color:white;
	font-family:'Open Sans';
	font-size: 2.0em;
	text-align:center;
}
.typed-cursor {
	size: 2.0em;
}

#landingContent h1 {
	font-weight: 700;
	font-size: 4.0em;
}

#about {
	background-color: #222224;
}

#gaming {
	background-color: white;
	color:black;
}

#portrait {
	margin: auto;
	height: 45%;
	width: 45%;
	border-radius: 50%;
}

#contact {
	background-color: #222224;
	color: #fff;
	margin: auto;
	width: 100%;
	padding-top: 30px;
}



footer {
	background-color: #222224;
	padding-bottom: 30px;
	text-align: center;
	padding-bottom: 10px;
}

.footer-social-icons {
	display: inline-block;
	text-align: center;
	padding: 0;
	vertical-align: middle;
}

.social-icons a {
	color: #fff;
	text-decoration: none;
	padding: 0;
}

footer .fa {
	padding:10px 15px;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition: .5s;
	background-color: #222224;
}

#lol_guide{
	margin-left: 175px;
	margin-top: 20px;
}

.fa-linkedin:hover {
	background-color: #0073a4;
}
.fa-instagram:hover {
	background-color: #e02167;
}
.fa-facebook:hover {
	background-color: #3d5b99;
}
.fa-github:hover {
	background-color: #525252;
}


.page-scroll{
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
	-moz-transition-property: -webkit-transform;
	-moz-transition-duration: 1s;
}